# Theorytab dataset
#   using crawler at ../dataset/theorytab/crawler.jl
theorytab
theorytab.jld2

# preprocessed dataset
dataset.jld2

# trained model
model.jld2
models/

# generated midis
midis/

